.card {
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border: none;
  }
  .card-title {
    font-size: 110px;
    font-weight: bold;
    color: #333;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .card-text {
    font-size: 40px;
    color: #666;
    margin-bottom: 20px;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .notoJP{
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  .btn-outline-dark {
    display: block;
    width: 40%;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  #top-page {
    margin-top: 45px;
    margin-bottom: 50px
  }
  
  .notoserifJP{
    color:black;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#business {
  font-size:70px;
  margin-top: 0px;
}

#bottom-page{
  padding:20px;
}
.btn.btn-outline-dark {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.5px;
}
.nav {
  font-family: "Cantarell", sans-serif;
}
.navbar-nav .nav-item .nav-link {
  position: relative;
  overflow: hidden;
}
.navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px; /* Adjust thickness of the line */
  background-color: #000; /* Initial color of the line */
  transition: width 0.3s ease; /* Smooth transition for the line width */
}
.navbar-nav .nav-item:hover .nav-link::after {
  width: 100%; /* Expand the line to full width on hover */
}
.navbar {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
}