.card {
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border: none;
  }
  .card-title {
    font-size: 110px;
    font-weight: bold;
    color: #333;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .card-text {
    font-size: 40px;
    color: #666;
    margin-bottom: 20px;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .notoJP{
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  .btn-outline-dark {
    display: block;
    width: 40%;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  #top-page {
    margin-top: 45px;
    margin-bottom: 50px
  }
  
  .notoserifJP{
    color:black;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#business {
  font-size:70px;
  margin-top: 0px;
}

#bottom-page{
  padding:20px;
}
.btn.btn-outline-dark {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.5px;
}
.nav {
  font-family: "Cantarell", sans-serif;
}
.navbar-nav .nav-item .nav-link {
  position: relative;
  overflow: hidden;
}
.navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px; /* Adjust thickness of the line */
  background-color: #000; /* Initial color of the line */
  transition: width 0.3s ease; /* Smooth transition for the line width */
}
.navbar-nav .nav-item:hover .nav-link::after {
  width: 100%; /* Expand the line to full width on hover */
}
.navbar {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
}

/*PREVENT OVERFLOW*/
body {
  overflow-x: hidden; /* Prevent horizontal scroll */
}

img {
  max-width: 100%; /* Ensure images are responsive */ height: auto; 
}

.navbar-nav .nav-link {
  /*white-space: nowrap; /* Prevent navbar links from breaking */
  left:1px;
}

.container-fluid > .row {
  margin-right: 0; margin-left: 0;
} 

 #review {
  font-size: 85px;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sleek-line{
    width: 25%;
    height:4px; /* adjust thickness of the line */
    background-color: #000; /* default color */
    margin-bottom: 20px; /* adjust distance between line and heading */
}

.inhome-line {
  position: relative;
  left: 400px;
  width: 25%;
  height: 4px; /* adjust thickness of the line */
  background-color: #000; /* default color */
  margin-bottom: 20px; /* adjust distance between line and heading */
  margin-top: 30px;
  margin-right: 120px; /* adjust distance from the right */
}

.review-line{
  width: 17%;
  height:4px; /* adjust thickness of the line */
  background-color: #000; /* default color */
  margin-bottom: 10px; /* adjust distance between line and heading */
  margin-top:10px;
}

#contact{
  font-size: 100px;
  padding: 100px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.contactInfo{
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.contactTitle{
  letter-spacing:3px;
  font-size: 100px;
  padding: 100px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.slantUS{
  font-weight: bold;
}

.bdrds{
  border-radius: 5%;
}

.service-title {
    margin-top: 5px;          
    font-size: 110px;
    color: #333;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.service-text {
  font-size: 25px;
  color: #666;
  margin-bottom: 20px;
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.padding {
  padding-left: 19px;
}
.inhome {
  font-size: 94px;
}
.sleek-line1 {
  width: 60%; /* Adjust width as needed */
  height: 4px; /* Adjust thickness of the line */
  background-color: #000; /* Default color */
  margin: 10px auto; /* Center the line horizontally and add margin at the bottom */
  margin-top: 60px;
  box-sizing: border-box; /* Ensures padding and border are included in the total height and width */
}
#style1 {
  font-weight: bold;
}
#booknow-services{
   margin-top: -10px;
}
#services-text {
  margin-top: -20px;
}
.sleek-line2{
  width: 50%;
  height:4px; /* adjust thickness of the line */
  background-color: #000; /* default color */
  margin-bottom: 20px; /* adjust distance between line and heading */
  margin: auto;
}
